// carousel
.carousel-item{
  height: 650px;
}
.carousel-img-1{
  background: url('../img/slider3.jpg');
  background-size: cover;
}
.carousel-img-2{
  background: url('../img/slider2.jpg');
  background-size: cover;
}
.carousel-img-3{
  background: url('../img/slider3.jpg');
  background-size: cover;
}
.carousel-img-4{
  background: url('../img/slider4.jpg');
  background-size: cover;
}
// home icon
#homeicon{
  .fa{
    font-size: 50px;
  }
}
// carousel responsive
@media(max-width: 700px){
  .carousel-inner{
    h2{
      font-size: 3rem !important;
    }
    .lead{
      font-size: 1rem;
    }
  }
}
@media(max-width: 400px){
  .carousel-inner{
    h2{
      font-size: 2rem !important;
    }
    .lead{
      font-size: 1rem;
    }
  }
}

